<a href="https://colab.research.google.com/github/ansuhwa/NLP_2024/blob/main/3_Indexing_Slicing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üìå Indexing of Sequence Data

| str data | I |   | l | o | v | e |  | P | y | t | h | o |n | ! |
|:---------|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:-|:-|:-:|
| Forward Indexing | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10| 11| 12|13|
| Backward Indexing|-14| -13| -12| -11| -10| -9| -8| -7| -6| -5| -4| -3| -2|-1|

| str data | I |   | l | o | v | e |   | P | y | t | h | o | n | ! |
|:--------:|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|
| Forward Indexing | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10| 11| 12| 13|


# ‚úÇÔ∏è Slicing of List data

        üëª You have to deduct one (-1) from the second element (2Î≤àÏß∏ ÏöîÏÜåÎ•º |oo ÎØ∏Îßå|ÏúºÎ°ú Ìï¥ÏÑùÌïúÎã§.  

- [:] from the first element to the final element (e.g., 'I love Python!')

| str data | I |   | l | o | v | e |  | P | y | t | h | o |n | ! |
|:---------|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:-|:-|:-:|
| Forward Indexing | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10| 11| 12|13|
| Backward Indexing|-14| -13| -12| -11| -10| -9| -8| -7| -6| -5| -4| -3| -2|-1|


- [1:5] from Index 1 to Index 4 (e.g., ' love') (5 ÎØ∏Îßå)


| str data |   | l | o | v |
|:---------|:--|:--|:--|:-:|
| Forward Indexing | 1 | 2 | 3 | 4 |


- [:5] from Index 0 to Index 4 (e.g., 'I love') (5 ÎØ∏Îßå)


| str data | I |   | l | o | v |
|:---------|:--|:--|:--|:--|:-:|
| Forward Indexing | 0 | 1 | 2 | 3 | 4 |


- [5:] from Index 5 to the final element (e.g., 'e Python!')

| str data | e |  | P | y | t | h | o |n | ! |
|:---------|:--|:--|:--|:--|:--|:--|:-|:-|:-:|
| Forward Indexing | 5 | 6 | 7 | 8 | 9 | 10| 11| 12|13|

- [:-3] from forward Index 0 to Backward Index -4 (e.g., 'I love Pyth') (-3 ÎØ∏Îßå)

| str data | I |   | l | o | v | e |  | P | y | t | h |
|:---------|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:-:|
| Forward Indexing | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10|
| Backward Indexing|-14| -13| -12| -11| -10| -9| -8| -7| -6| -5| -4| -3| -2|-1|

- [-3:] from backward Index -3 to the final element (e.g., 'on!')

| str data | o |n | ! |
|:---------|:-|:-|:-:|
| Backward Indexing|-3| -2|-1|


- [::2] Every other element from the first element (e.g., 'Ilv yho')

| str data | I | l | v |  | y | h | o |
|:---------|:--|:--|:--|:--|:--|:--|:-:|
| Forward Indexing | 0 | 2 | 4 | 6 | 8 | 10| 12|



# ‚öæ ‚öΩ üèÄ üéæ üéØ It is time to get some exercise!

In [ ]:
str_data = 'I love python'
list_data = ['apple', 'banana', 'grapes', 'mango']
tuple_data = ('apple', 'banana', 'grapes', 'mango')

print (str_data)
print (list_data)
print (tuple_data)

I love python
['apple', 'banana', 'grapes', 'mango']
('apple', 'banana', 'grapes', 'mango')

In [ ]:
#@markdown üöó üöô Sequence data (str, list, tuple)

#@markdown ##Exercise


str_data = 'I love python'
list_data = ['apple', 'banana', 'grapes', 'mango']
tuple_data = ('apple', 'banana', 'grapes', 'mango')

print (str_data)
print (list_data)
print(tuple_data)

print (str_data[0])
print (str_data[1])
print (str_data[2])
print (str_data[3])
print (str_data[4])
print (str_data[5])
print (str_data[6])
print (str_data[7])
print (str_data[8])
print (str_data[9])
print (str_data[10])
print (str_data[11])
print (str_data[12])

I love python
['apple', 'banana', 'grapes', 'mango']
('apple', 'banana', 'grapes', 'mango')
I

l
o
v
e

p
y
t
h
o
n

In [ ]:
#@markdown üìå Apply indices to string data

#@markdown Forward Indexing

str_data="I love Python"
print(str_data[0])
print(str_data[1])
print(str_data[2])
print(str_data[3])
print(str_data[4])
print(str_data[5])
print(str_data[6])
print(str_data[7])
print(str_data[8])
print(str_data[9])
print(str_data[10])
print(str_data[11])
print(str_data[12])

I

l
o
v
e

P
y
t
h
o
n

In [5]:
str='I love Python?'
print(str)
print(str[-1])
print(str[-2])
print(str[-3])
print(str[-4])
print(str[-5])
print(str[-6])
print(str[-7])
print(str[-8])
print(str[-9])
print(str[-10])
print(str[-11])
print(str[-12])
print(str[-13])
print(str[-14])

I love Python?
?
n
o
h
t
y
P

e
v
o
l

I

In [ ]:
#@markdown üìå Apply indices to string data

#@markdown Backward Indexing

str_data="I love Python"
print(str_data[-1])
print(str_data[-2])
print(str_data[-3])
print(str_data[-4])
print(str_data[-5])
print(str_data[-6])
print(str_data[-7])
print(str_data[-8])
print(str_data[-9])
print(str_data[-10])
print(str_data[-11])
print(str_data[-12])
print(str_data[-13])

n
o
h
t
y
P

e
v
o
l

I

In [6]:
str = 'Time is money!'
print(str)
print(str[-1])
print(str[-3])
print(str[-5])
print(str[-6])
print(str[-8])

Time is money!
!
e
o
m
s

In [7]:
strdata = 'Time is money!!'
print(strdata[5])
print(strdata[-2])
print(strdata[0])

str = """She said, "Time is money!!"
"""

print(str)
print(str[0])

i
!
T
She said, "Time is money!!"

S

In [10]:
str="I had two bananas.I tnink that it is Sarah's. "
print(str)

I had two bananas.I tnink that it is Sarah's.

In [11]:
listdata = [1, 2, [1,2,3]]
print(listdata[0])
print(listdata[-1])
print(listdata[2][-1])

1
[1, 2, 3]
3

In [13]:
listdata = [1, 2, [1,2,3]]
print(listdata[0])
print(listdata[-1])
print(listdata[2][-1])

list = [1,2, [3,4,5]]
print(list [0])
print(list [1])
print(list [-1])

print(list [2][1])

print (list [-1])
print (list [-2])
print (list [-3])

1
[1, 2, 3]
3
1
2
[3, 4, 5]
4
[3, 4, 5]
2
1

In [17]:
list= ['apple','banana','grapes','mango']
list[0] = 'shine musket'

print(list)

['shine musket', 'banana', 'grapes', 'mango']

In [20]:
tuple = ('apple', 'banana', 'grapes', 'mango')

In [ ]:
#@markdown üìå Apply indices to List data

#@markdown ## Replacment by means of using incices

list_data = ['apple', 'banana', 'grapes', 'mango']
list_data[0]="shine musket"

print (list_data)

['shine musket', 'banana', 'grapes', 'mango']

In [ ]:
#@markdown üëÄ Apply indices to Tupple data

#@markdown ### No Replacement for Tuple data (<font color = 'red'> TypeError</font> will pop up: <font color = 'red'>'tuple' object does not support item assignment)

tuple_data = ('apple', 'banana', 'grapes', 'mango')
tuple_data[0]="shine musket"

print (tuple_data)

TypeError: ignored

In [24]:
str='Time is money!!'
print(str[1:5])
print(str[:7])
print(str[9:])
print(str[:-3])
print(str[-3:])
print(str[:])
print(str[::2])

ime
Time is
oney!!
Time is mone
y!!
Time is money!!
Tm smny!

In [ ]:
#@markdown Slice sequence data

str_data = 'Time is money!!'
print(str_data[1:5])
print(str_data[:7])
print(str_data[9:])
print(str_data[:-3])
print(str_data[-3:])
print(str_data[:])
print(str_data[::2]) # Ï≤òÏùåÎ∂ÄÌÑ∞ ÎÅùÍπåÏßÄ Ïä§ÌÖùÏùÑ 2Î°ú Ìï¥ÏÑú Ïä¨ÎùºÏù¥Ïã± ÌïòÍ∏∞.

ime
Time is
oney!!
Time is mone
y!!
Time is money!!
Tm smny!

#ÏãúÌÄÄÏä§ ÏûêÎ£å Ïó∞Í≤∞ÌïòÍ∏∞ (+)
  -ÏûêÎ£åÌòïÏù¥ ÎèôÏùºÌïú Îëê Í∞úÏùò ÏãúÌÄÄÏä§ ÏûêÎ£åÎäî Ïó∞Í≤∞ Í∞ÄÎä•
  

#ÏãúÌÄÄÏä§ ÏûêÎ£å Î∞òÎ≥µÌïòÍ∏∞ (*Ïà´Ïûê)

In [32]:
str1='I love'; str2 = ' Python'
print (str1 + str2)
print (str1*5)

I love Python
I loveI loveI loveI loveI love

In [ ]:
strdata1 = 'I love'; strdata2='Python'
print (strdata1 + strdata2)
print(strdata1*5)

I lovePython
I loveI loveI loveI loveI love

###  üëÄ üêæ **Make a wild guess how to <font color = 'red'> add space</font> between 'love' and 'Python.'**

In [33]:
#@markdown üíä **Possibility 1Ô∏è‚É£ üí°**

strdata1 = 'I love '; strdata2='Python'
print (strdata1 + strdata2)

I love Python

In [ ]:
#@markdown üíä **Possibility 2Ô∏è‚É£ üí°**

strdata1 = 'I love '; strdata2=' Python'
print (strdata1 + strdata2)

In [38]:
str1='I love'; str0=' '; str2='Python'
print (str1+str0+str2)

subject = 'BTS'; verb= 'sings'; object = 'butter'
sentence = subject + verb + object * 5
print (sentence)

I love Python
BTSsingsbutterbutterbutterbutterbutter

In [ ]:
#@markdown üíä **Possibility 3Ô∏è‚É£ üí°**

strdata1 = 'I love'; strdata0 = ' '; strdata2='Python'
print (strdata1 + strdata0 + strdata2)

In [ ]:
subject = 'BTS'; verb= 'sings'; object = 'butter'
sentence = subject + verb + object * 5
print (sentence)

BTSsingsbutterbutterbutterbutterbutter

In [ ]:
#@markdown üíä Possibility 1Ô∏è‚É£ üí°

subject = 'BTS '; verb= 'sings '; object = 'butter'
sentence = subject + verb + object * 5

In [ ]:
#@markdown ÏãúÌÄÄÏä§ ÏûêÎ£å ÌÅ¨Í∏∞ Ïù¥Ìï¥ÌïòÍ∏∞ (len)

str_data = 'I love Python'
print(len(str_data))

13